.container {
  text-align: center;
  margin: 0 auto;

  .wrapper {
    padding-top: 130px;
    background: radial-gradient(
      circle at calc(100% - 200px),
      rgba(17, 199, 81, 0.2358193277310925) 0%,
      rgba(248, 253, 250, 1) 21%,
      rgba(255, 255, 255, 1) 31%,
      rgba(255, 255, 255, 1) 84%
    );
    @media (max-width: 800px) {
      padding-top: 70px;
    }
  }
  background-image: linear-gradient(to right, #eeeeef 1px, transparent 1px),
    linear-gradient(to bottom, #eeeeef 1px, transparent 1px);
  background-size: 150px 150px;

  h1 {
    font-family: Chakra Petch;
    font-size: 56px;
    font-weight: bolder;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: center;
    width: 50%;
    color: #11c751;
    margin: 0 auto;
    font-weight: 700;
    @media (max-width: 800px) {
      font-size: 32px;
      width: 95%;
      line-height: 41px;
    }
  }
  p {
    font-family: Chakra Petch;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    padding: 20px;
    @media (max-width: 800px) {
      font-size: 24px;
      line-height: 31px;
      padding: 10px;
    }
  }
  .phone {
    font-family: Chakra Petch;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
  }
  p,
  a {
    text-decoration: underline;
    color: #000000;
    cursor: pointer;
  }
  ul {
    width: 35%;
    padding-top: 180px;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 800px) {
      width: 90%;
      padding-top: 60%;
    }
    li {
      font-family: Chakra Petch;
      font-size: 24px;
      font-weight: 500;
      line-height: 31px;
      letter-spacing: 0em;
      text-align: center;
      padding-right: 10px;
      @media (max-width: 800px) {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
}
