.container {
  background-color: #000000;
  background-image: linear-gradient(to right, #11c7511f 1px, transparent 1px),
  linear-gradient(to bottom, #11c7511f 1px, transparent 1px);
  background-size: 150px 150px;

  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  img{
    border: 5x solid red !important;
  }
  ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    font-family: "Chakra Petch";
    li {
      margin-right: 16px;
      padding: 30px;
      width: 140px;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      transition: all 0.4s ease-in-out;
      white-space: nowrap;
      &:hover {
        background-color: #fff;
        color: #141414;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
      }
    }

    a {
      //   padding-left: 30px;
      text-decoration: none;
    }
  }
}

// blue:#1D87D3
// mainbck:#141414
// light font:#A2A2A2
// bold font:#969595

// #11C751 green
