.container {
  background-color: #141414;
  color: #fff;
  // display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10%;
  font-weight: 600;
  font-size: 16px;
  p {
    font-size: 20px;
    font-weight: 500;
    color: #a6a6a6;
    line-height: 26px;
    padding-top: 46px;
    @media (max-width:600px) {
      font-size: 18px;
      line-height: 23px;
      padding-top: 30px;
    }
  }
  // position: relative;
}

.logoWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
  border-bottom: 0.7px solid #a6a6a6;
  .logo{
    @media (max-width:600px) {
      width: 110px;
    }
  }
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    li {
      img {
        width: 32px;
        height: 32px;
        object-fit: cover;

      }

    }
    @media (max-width:600px) {
      gap: 25px;
      li{
        img{
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}
