.container {
  padding: 90px 10%;

  font-family: "Chakra Petch";
  @media (max-width: 768px) {
    padding: 60px 5%;
  }
  .firstWrapper {
    h1 {
      font-weight: 700;
      font-size: 56px;
      line-height: 72px;
      color: #000000;
      @media (max-width: 768px) {
        font-size: 32px;
        line-height: 41px;
      }
    }
    h5 {
      color: #11c751;
      font-weight: 500;
      font-size: 24px;
      line-height: 31px;
      @media (max-width: 768px) {
        font-size: 18px;
        line-height: 23px;
      }
    }

    display: flex;
    justify-content: space-between;
    p {
      width: 40%;
      color: #8d8d8d;
    }
    @media (max-width: 800px) {
      flex-direction: column;
      p {
        width: 100%;
      }
    }
  }
  ul {
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    // align-items: center;

    li {
      width: 30%;
      padding-top: 30px;
      border-top: 3px solid #000000;
      list-style: none;
      h3 {
        padding-bottom: 16px;
        line-height: 23px;
        font-weight: 600;
        font-size: 18px;
        text-transform: uppercase;
      }
      p {
        color: #8d8d8d;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
      }
    }
    @media (max-width: 800px) {
      flex-direction: column !important;
margin-top: 40px;
      li {
        width: 100%;
        margin-top: 40px;
      }
    }
  }
}
